@import "../../styles/configs/colors";
@import "../../styles/configs/fonts";
@import "../../styles/configs/ui";

.navigation {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-button:focus {
  outline: none !important;
}

.navigation-bottom {
  display: flex;
  flex: 1;
  background-color: $global_white_color;
}

.navigation-sidebar {
  position: relative;
  flex: 0.15;
  min-width: 275px;
  background-color: $theme_color_1;
}

.navigation-sidebar > div {
  margin-top: 35px;
  height: 100%;
  overflow-y: auto;
}

.navigation-sidebar > div::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}
